{% extends '/base.html.twig' %}

{% block title %}New Workout{% endblock %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}


{% block content %}

    <div class="container mt-4">
            <div class="col-md-3">
                <h1>New Workout</h1>
                {{ form_start(form) }}
                {{ form_row(form.name) }}
                {{ form_row(form.type) }}
                <button type="submit" class="btn btn-primary">Save</button>
                {{ form_end(form) }}
            </div>
    </div>
{% endblock %}
